body {
  /*padding-top: 0;*/
  margin-top: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #111111;
  margin: 1em 0;
  padding: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #63d6e0;
  text-decoration: none;
}

a:hover {
  color: #63D6E0;
  }

a.button {
  text-decoration: none;
}

/* img
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.img-circle {
    border-radius: 50%;
}

figure {
  margin: 0;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #111111;
  background-color: #63D6E0;
  border-color: #63D6E0;
  border-radius: 0px;
  font-size: 0.8em;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #111111;
  background-color: #00B2C1;
  border-color: #00B2C1;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 320px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Typographic
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body, .article {
  font-family: 'Karla', sans-serif;
  font-size: 2.1em;
  letter-spacing: .02em;
  line-height: 1.9;
  /*max-width: 960px;*/
  color: #111111;
}

div {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 3rem;
  text-align: center;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.highlight {
  background-image: linear-gradient(180deg, transparent 65%, #C3EEF2 0);
  text-decoration: none;
}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  min-height: 130px;
}

nav {
  float: right;
  padding-top: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #ffffff;
  color: #111111;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00B2C1;
  text-decoration: underline;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 42px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #111111;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  height: 70px;
  background: #ffffff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand img {
  padding-top: 5px;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#hero-index {
  background-image: url(../img/bkg/blue.svg);
  background-attachment: fixed;
  background-size: 500px 500px;
  padding: 50px 27px;
}

#hero-index h1 {
  color: #111111;
  font-size: 6.5rem;
}

#frame {
  background-color: #ccc;
  border-radius: 5px;
  padding-top: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* Material Design Shadow → https://codepen.io/sdthornton/pen/wBZdXq */
}

#console {
  background-color: #333;
  padding: 10px 20px;
  color: #f2f2f2;
  font-family: 'Monaco', 'Courier New', monospace;
  font-size: 2rem;
}

.prompt {
  color: #999;
  padding-right: 10px;
}

.typed-cursor{
  color: #999;
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about .expertise-block img {
    width: auto;
    height: 14.0rem;
    max-width: 100%;
}

#about .expertise-block h4.title {
    margin: 1.8rem 0;
}

#about .skills p {
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #00b2c1;
}

#about i.fa {
  color: #eb390f;
}

/* Skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.skills {
  background-color: #f2f2f2;
}

.skills ul {
  list-style: none;
}

.skill-icon  {
  text-align: center;
  margin: 10px auto;
  color: #00B2C1;
}

/* Work
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.item-link {
  background-color: #fb5958;
  border-radius: 5px;
  border-color: #fb5958;
  color: #fff;
  font-size: 0.7em;
  font-weight: normal;
  height: 30px;
  margin-right: 10px;
  padding: 2px 7px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

a:hover.item-link {
  background-color: #e2403f;
}

.work {
  background-color: #f2f2f2;
}

.work ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work-items h4 {
  margin-bottom: 0;
}

/* CTA
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.CTA {
  background-color: #fff;
  /* min-height:100%;
  background:linear-gradient(0deg,rgba(70,63,63,0.6),rgba(70,63,63,0.6)),url(../img/code.jpg);
  background-size:cover;
  background-attachment: fixed; */
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-image: url(../img/bkg/gray.svg);
  background-attachment: fixed;
  background-size: 500px 500px;
  padding: 100px 27px;
  background-color: #463f3f;
  padding: 60px 0;
}

footer h6 {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
  margin-top: 15px;
  margin-bottom: 0;
}

footer .fa {
  margin: 0 5px;
}

a.social-icon {
  color: #999;
}

a.social-icon:hover {
  color: #45979E;
}

/* About Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-header {
  background-image: url(../img/bkg/gray.svg);
  background-attachment: fixed;
  background-size: 500px 500px;
  padding-top: 35px;
  padding-bottom: 0;
}

.hero-header h1 {
  color: #63D6E0;
}

.gray {
  background-color: #f2f2f2;
}

